@import url(//db.onlinewebfonts.com/c/0abeb2471faeb5269db428b9eac2075e?family=GT+Walsheim+Pro+Regular);
* {
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
}

.logo{
    position: relative;
}

.logo a{
    margin: 10px;
    position: absolute;
    z-index: 100;
    color: #414141;
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home h1{
    text-align: center;
    color: #d4d4d4;
    font-family: 'Raleway';
    font-size: 60px;
}

.home img{
    width: 40px;
    height: 40px;
}

.section h1{
    text-align: center;
}

.home p, .home a{
    text-align: center;
    color: #d4d4d4;
    font-family: 'Raleway';
    font-size: 20px;
}